*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.caixa-login{
    width: 450px;
}

.esconder{
    display: none;
}