*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.caixa-login{
    width: 450px;
}

.esconder{
    display: none;
}

.titulo{
    text-align: center;
    margin-bottom: 35px;
}

.titulo h1{
    color: #fa1891;
    font-size: 60px;
}

.titulo p{
    color: #ccc;
    font-size: 18px;
}

.grupo-input{
    margin-bottom: 25px;
}

.grupo-input label{
    display: block;
    margin-bottom: 10px;
}

.caixa-input{
    background: #d9dee7;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 10px;
}

.caixa-input input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    margin: 0 10px;
}

.caixa-input i{
    color: #666;
}

.olho{
    cursor: pointer;
}

.opcoes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lembrar-login{
    display: flex;
    gap: 8px;
    align-items: center;
}

.esqueci{
    color: #fd118f;
    text-decoration: none;
}

button{
    width: 100%;
    height: 55px;
    background: #f8118c;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background: #da0279;
}

.cadastro{
    text-align: center;
    margin-top: 25px;
}

.cadastro a{
    color: #f3158b;
    text-decoration: none;
}